# <font color='red'> *실습* </font>
# <font color='red'> LISTS </font>

# <font color='blue'> 1. 아래 이름들을, names 리스트로 만드세요.
    
    "sara", "chanel", "mike", "ryan", "holy", "alex", "rob"

In [1]:
names = [['sara', 'chanel', 'mike', 'ryan', 'holy', 'alex', 'rob'] ]
print(names)

[['sara', 'chanel', 'mike', 'ryan', 'holy', 'alex', 'rob']]

# <font color='blue'> 2. 각 이름의 맨 앞자를 대문자로 바꿔서, names 리스트를 다시 만드세요.

In [3]:
names=['Sara', 'chanel', 'mike', 'ryan', 'holy', 'alex', 'rob']
print(names)

['Sara', 'chanel', 'mike', 'ryan', 'holy', 'alex', 'rob']

In [5]:
names[0] = names[0].capitalize()
names[1] = names[1].capitalize()
print(names)

['Sara', 'Chanel', 'mike', 'ryan', 'holy', 'alex', 'rob']

In [8]:
for i in range(len(names)):
    names[i] = names[i].capitalize()

print(names)

['Sara', 'Chanel', 'Mike', 'Ryan', 'Holy', 'Alex', 'Rob']

In [ ]:
names =
names

['Sara', 'Chanel', 'Mike', 'Ryan', 'Holy', 'Alex', 'Rob']

# <font color='blue'> 3. (1)두번째 항목 출력, (2) 마지막 항목을 출력 </font>

In [9]:
print(names[1])
print(names[-1])

Chanel
Rob

'Rob'

# <font color='blue'> 4. "Chanel" "Mike" "Ryan" 항목 출력, </font>

In [11]:
print(names[1:4])

['Chanel', 'Mike', 'Ryan']

['Chanel', 'Mike', 'Ryan']

# <font color='blue'> 5. 리스트 맨 마지막 3개 항목을 출력하기</font>

['Holy', 'Alex', 'Rob']

In [13]:
print(names[-3:])

['Holy', 'Alex', 'Rob']

# <font color='blue'> 6. 다음을 출력 (1) aly, (2) sally (3) peter, aly </font>

In [17]:
my_list = ["Mitch", ["sara", "sally", "joe"], "peter", "aly"]

In [18]:
print(my_list[-1])

aly

In [19]:
print(my_list[1][1])

sally

In [20]:
print([my_list[2], my_list[3]])

['peter', 'aly']

# <font color='blue'> 7. 현재 리스트의 길이를 먼저 구하고, 자신의 이름을 맨 끝에 추가하세요. </font>

In [21]:
my_list = ["Mitch", ["sara", "sally", "joe"], "peter", "aly"]

In [22]:
len(my_list)

4

In [ ]:

my_list

['Mitch', ['sara', 'sally', 'joe'], 'peter', 'aly', 'kyongha']

In [23]:
my_list.append("kyongha")
print(my_list)

['Mitch', ['sara', 'sally', 'joe'], 'peter', 'aly', 'kyongha']

# <font color='blue'> 8. "PETER" 를 리스트에서 제거하세요. </font>

In [24]:
my_list.remove("peter")

In [25]:
my_list

['Mitch', ['sara', 'sally', 'joe'], 'aly', 'kyongha']

# <font color='blue'> 9. "Mitch" 오른쪽에 "Mike"를 추가하세요. </font>

In [ ]:

my_list

['Mitch', 'Mike', ['sara', 'sally', 'joe'], 'aly', 'kyongha']

In [26]:
my_list.insert(1, "Mike")
print(my_list)

['Mitch', 'Mike', ['sara', 'sally', 'joe'], 'aly', 'kyongha']

# <font color='blue'> 10. 오름차순으로 순서대로 정렬하세요. </font>

In [ ]:
my_list = [50, 20, 30, 10, 40, 15, 45]

In [27]:
my_list = [50, 20, 30, 10, 40, 15, 45]
my_list.sort()
print(my_list)

[10, 15, 20, 30, 40, 45, 50]

In [ ]:
my_list

[10, 15, 20, 30, 40, 45, 50]

# <font color='blue'> 11. 위 리스트를 내림차순으로 정렬하세요. </font>

In [28]:
my_list.sort(reverse=True)
print(my_list)

[50, 45, 40, 30, 20, 15, 10]

In [ ]:
my_list

[50, 45, 40, 30, 20, 15, 10]

# <font color='blue'> 12. 리스트 안에, 리스트들이 들어 있습니다. 안쪽 리스트들의 맨 마지막 항목들로, 새로운 리스트를 만드세요. </font>
- chocolate, potatoes, protein bar 를 뽑아내는 코드를 작성하고, 이들을 리스트로 만듭니다.

In [ ]:
grocery_list = [['chips','jelly','chocolate'],['sweet potatoes','potatoes'],['peanuts','protein bar']]

In [29]:
grocery_list = [
    ['chips','jelly','chocolate'],
    ['sweet potatoes','potatoes'],
    ['peanuts','protein bar']
]

result = [grocery_list[0][-1], grocery_list[1][-1], grocery_list[2][-1]]
print(result)

['chocolate', 'potatoes', 'protein bar']

['chocolate', 'potatoes', 'protein bar']

# <font color='blue'> 13. 다음 문장을, 공백기준으로 잘라서, 리스트로 만드세요. 그리고 to 라는 단어가 몇개 인지 확인하세요. </font>
- 예)   [ 'She', 'had', 'a', 'lot',,,,]
- 문자열 부분에서 배운 함수를 참고하세요

In [30]:
essay = '''"She had a lot of money. She was a generous woman. She was once poor. She understood what it was like. She wanted to help out. On Christmas day, she handed out food to the poor. She made the food herself. She put a turkey leg, a scoop of mash potatoes, and peas on a plate. She gave the plate to each homeless person she saw.

The homeless people loved her. One homeless man even gave her a penny. She said to keep it for himself. She decided to do more. She gave $50 to every homeless person she saw. She felt good."'''

In [32]:
words = essay.lower().split()
print(words[:15])

['"she', 'had', 'a', 'lot', 'of', 'money.', 'she', 'was', 'a', 'generous', 'woman.', 'she', 'was', 'once', 'poor.']

In [33]:
count_to = words.count("to")

In [35]:
count_to = words.count("to")
print(f"'to'는 총 {count_to}개입니다.")

'to'는 총 6개입니다.