<a href="https://colab.research.google.com/github/tristan-quant/html_ex/blob/main/5_b_%EC%8B%A4%EC%8A%B5_Dictionaries_and_Booleans_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <font color='red'> *실습* </font>
# <font color='red'> DICTIONARIES AND BOOLEANS </font>

# <font color='blue'> 1. 밸류들을 전부 곱한 값을 출력하는 코드를 만드세요. </font>

In [ ]:
my_dict = {'data1':500,
           'data2':-10,
           'data3':300}

In [ ]:
result = 1
for value in my_dict.values():
    result *= value   # result = result * value
print(result)

-1500000

# <font color='blue'> 2. 각 학생별로, 중간과 기말의 평균점수를 구하세요.

In [ ]:
student_details = [
  {'student_id' : 1, 'subject' : 'math', 'midterm' : 60, 'final' : 85},
  {'student_id' : 2, 'subject' : 'math', 'midterm' : 80, 'final' : 78},
  {'student_id' : 3, 'subject' : 'math', 'midterm' : 90, 'final' : 85}
]

In [ ]:
# [] 대괄호 시작 대괄호로 끝나는 것을 리스트라고 함.
# {} 중괄호로 시작 중괄호로 끝나는 것을 딕셔너리라고 함.

In [ ]:
for student in student_details:
    avg = (student['midterm'] + student['final']) / 2
    print(f"Student {student['student_id']} 평균점수: {avg}")

Student 1 평균점수: 72.5
Student 2 평균점수: 79.0
Student 3 평균점수: 87.5

# <font color='blue'> 3. 위에서 구한 평균점수를,"AVERAGE" 라는 키를 새로 만들어서, 각 학생의 딕셔너리에 추가하세요.

In [ ]:
for student in student_details:
    student['AVERAGE'] = (student['midterm'] + student['final']) / 2

print(student_details)

[{'student_id': 1, 'subject': 'math', 'midterm': 60, 'final': 85, 'AVERAGE': 72.5}, {'student_id': 2, 'subject': 'math', 'midterm': 80, 'final': 78, 'AVERAGE': 79.0}, {'student_id': 3, 'subject': 'math', 'midterm': 90, 'final': 85, 'AVERAGE': 87.5}]

# <font color='blue'> 4. 각각의 숫자를,  제곱한 값으로 바꾸세요.

In [ ]:
numbers = [2, 4, 6, 8, 10]

squared = [n**2 for n in numbers]
print(squared)

[4, 16, 36, 64, 100]

# <font color='blue'>  5. (1)모든 키를 리스트로 출력하세요. (2) 모든 밸류를 리스트로 출력하세요. (3) 모든 밸류의 값을 다 더하세요.

In [ ]:
my_salary = {"alex": 25, "sally": 28, "dina": 30}

In [ ]:
my_salary = {"alex": 25, "sally": 28, "dina": 30}

# (1) 키 리스트
print(list(my_salary.keys()))

# (2) 값 리스트
print(list(my_salary.values()))

# (3) 값 합계
print(sum(my_salary.values()))

['alex', 'sally', 'dina']
[25, 28, 30]
83

# <font color='blue'>  6. (a)딕셔너리의 길이를 구하세요.  (b) 나이에 대한 오름차순으로 정렬하세요.

In [ ]:
people = {"alex": 25, "sally": 28, "dina": 30, "ryan": 22}

# (a) 딕셔너리 길이
print(len(people))

# (b) 나이 기준 정렬
sorted_people = dict(sorted(people.items(), key=lambda x: x[1]))
print(sorted_people)

4
{'ryan': 22, 'alex': 25, 'sally': 28, 'dina': 30}